.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}
.h1 {
  margin-bottom: 1rem;
}

.campo {
  margin-bottom: 1rem;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

button {
  margin-right: 0.5rem;
}